/* fonte para logo, navbar e paragrafos */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@100;200;300;400;600;700&display=swap');
/* fonte titulo */
@import url('https://fonts.googleapis.com/css2?family=Hind:wght@400;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.background{
    background-color: #f4f4f4;
}
/* .background{
    background-color: var(--cor-bg);
} */
:root{
    --cor-p: #9be1eb;
    --cor-s: #45B39D;
    --cor-t: #D1F2EB;
    --cor-det: rgb(1, 255, 166);
    /* --cor-bg: #324a61da ; */
    --font-logo: 'Bebas Neue', cursive;
    --font-titulo: 'Hind', sans-serif;
    --font-principal: 'Poppins', sans-serif;
}
/*
não consegui fazer com grid :(
    .grid{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 20vh 1fr 1fr 1fr;
        grid-template-areas:
        " h h h h"
        "m m m m"
        ;
    } */

    /* NAVBAR--------------------------- */
    header{
        background-image: linear-gradient(rgba(4, 9, 30, 0.3), rgba(4, 9, 30, 0.3)),
    url(./img/Nuvens.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.3);
    /* grid-area: h; */
}
nav{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}
.logo{
    text-decoration: none;
    color: #fff;
    /* font-size: 200px; */
    font-family: var(--font-logo);
    font-size: 30px;
    position: relative;
    text-shadow: 0px 0px 10px var(--cor-p);
}
.logo::after{
    content: "";
    width: 100%;
    height: 5px;
    border-radius: 25%;
    background: var(--cor-det);
    position: absolute;
    bottom: 15%;
    left: 0;
}
.navHub{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;

}
.navHub li a{
    display: inline-block;
    color:#fff;
    font-family: var(--font-principal);
    font-size: 1.4rem;
    text-decoration: none;
    margin-left: 1rem;
}

.navHub li::after{
    content: "";
    width: 0%;
    height: 2px;
    background: rgb(7,144,105);
    background: linear-gradient(90deg, rgb(78, 214, 175) 26%, rgb(1, 255, 166) 100%);
    display: block;
    margin: auto;
}
.navHub li:hover::after{
    width: 80%;
    margin-left: 20%;
    transition: .3s;
}
nav a:hover{
    color: rgb(233, 233, 233);
    transition: .3s;
}
.hamburger{
    width: 30px;
    height: 35px;
    cursor: pointer;
    display: none;
}
.hamburger svg:focus{
    outline: none;

}
@media (max-width:850px){
    .logo{
        font-size: 1.4rem
    }
    .navHub{
        background-color: var(--cor-s);
        border: 2px solid var(--cor-det);
        padding-left: 0;
        margin-top: 10px;
        display: none;
        width: 100%;
        flex-direction: column;

    }
    .navHub li a{
        font-size: 20px;
    }
    .navHub.show{
        display: flex;
    }
    .hamburger{
        display: block;
    }
}


/* CONTEUDO HOME ------------------------------------------ */
.main{
    /* grid-area: m; */
    height: 110vh;
    margin-top: 3rem;
    margin-bottom: 4rem;
}
.carrossel{
    height: 130vh;
    border-radius: 1%;
    box-shadow: 0 0 18px rgba(0, 0, 0, 0.2);
    background-color: var(--cor-s);
}
.img-carrossel{
    width:100%; 
    height:500px;
}


/* cadastro rápido---------- */
.cadastro-rapido{
    margin-top: 1em;
    padding: 2rem;
}
.cadastro-rapido:hover{
    background-color: #50bba5;
    border-radius: 30px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}
.linha{
    position: relative;
}
.linha::before{
    content: "";
    position: absolute;
    height: 4px;
    width: 270px;
    bottom: 0;
    left: 0;
    border-radius: 8px;
    background: rgb(7,144,105);
    background: linear-gradient(90deg, rgb(87, 243, 199) 26%, rgb(1, 255, 166) 100%);
}
.div-form{
    display: flex;
    flex-direction: row;
}
.input{
    position: relative;
}
.input input{
    border: none;
    outline: none;
    font-family: var(--font-principal);
    margin-left: 0.3rem;
    font-size: 1rem;
    padding: 4px;
}
.input input::placeholder{
    color: rgba(0, 0, 0, 0.425);

}
.input input:focus{
    background-color: var(--cor-p);
    transition: 0.3s;
}
.cadastro-rapido input[type="submit"]{
    margin-left: 8px;
    border: none;
    font-family: var(--font-principal);
    border-radius: 8px;
    padding: 4px;
}
.cadastro-rapido input[type="submit"]:hover{
    background-color: var(--cor-t);
    transition: 0.3s;
}
@media (max-width: 1000px){
    .div-form{
        flex-direction: column;
    }
    .img-carrossel{
        height: 300px;
    }
}

/* explicação da agencia------------- */
.explicacao{
    margin-top: 100px;
    position: relative;
}
.titulo{
    font-family: var(--font-titulo);
    font-weight: 700;
    margin-bottom: 1rem;
}
p{
    font-family: var(--font-principal);
    font-weight: 600;
}
strong{
    color: var(--cor-s);
}
.svg{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.col-text{
    background-color: #f7fdfc;
    padding: 0.5rem;
    border-radius: 2%;
    width: 33%;
    margin: 15px;
    transition: 0.5s;
}
.col-text:hover{
    border: 5px solid var(--cor-s);
    box-shadow: 0 0 15px rgba(4, 9, 30, 0.5);
    transform: scale(1.1);
    z-index: 2;

}
/* NOVIDADES NA PAGINA HOME */
.texto-novidades{
    background-color: var(--cor-s);
    padding: 0.5rem;
}
.parag-novidade{
    font-size: 25px;
}

/* PAGINA DE PROMOÇÕES ------------- */
.promo{
    margin-top: 3rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color: var(--cor-s);
    height: 90vh;
    padding: 2%;
}
@media (max-width: 570px){
    .promo{
        height: 110vh;
    }
}
.f-row{
    display: flex;
    align-items: center;
    justify-content: center;
}
.linhap{
    position: relative;
}
.linhap::before{
    content: "";
    position: absolute;
    height: 4px;
    width: 100%;
    bottom: 0;
    left: 0;
    border-radius: 8px;
    background: rgb(7,144,105);
    background: linear-gradient(90deg, rgb(87, 243, 199) 26%, rgb(1, 255, 166) 100%);
}
.pacotes{
    margin-top: 1rem;
}
.div-pac{
    background-color: var(--cor-s);
    padding: 2%;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

}
.lorem{
    font-family: var(--font-principal);
}
.div-pac p{
    color: white;
}
.div-pac a{
    color:white;
}
.div-pac a:hover{
    color: var(--cor-p);
    transition: .3s;
}

/* PAGINA DE DESTINO ---------------- */
/* conteudo-destino----- */
.textinho{
    margin-top: 2rem;
    margin-bottom: 5rem;
}
.menu-destino{
    border-right: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.card-titulo{
    text-decoration: none;
}
.desconto{
    font-size: 12px;
    text-decoration: line-through;
    color: red;
    margin-bottom: 0;
}
.card-detalhes{
    margin-top: 0.5rem;
}
.card-detalhes:hover{
    box-shadow: 0 0 10px var(--cor-det);
}
.corpo-card{
    height: 45vh;

}



/* PAGINA DE CONTATOS -------------- */
.background-contato{
    height: 100%;
    background-image: url(./img/background-contato.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.width{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.section-contato{
    margin: 30px;
    height: 150vh;
    width: 50%;
    background-color: var(--cor-s);
    border-radius: 10px;
    opacity: 0.95;
    box-shadow: 0 0 18px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
}
.contato{
    width: 80%;
    /* o do hover será esse */
}
.label-block{
    display: flex;
    flex-direction: column;
}
.contform{
    /* background-color: gold; */
    width: 100%;
    padding: 1rem;
}
.input-contato{
    outline: none;
    border: none;
    font-family: var(--font-principal);
    border-radius: 8px;
    margin-bottom: 5px;
}
.input-contato:focus{
    background-color: var(--cor-p);
    border: 1px solid var(--cor-det);
    box-shadow: 0 0 10px var(--cor-det);
    opacity: 1;
}
.contform input[type="submit"]{
    width: 100%;
    outline: none;
    border: none;
    font-family: var(--font-principal);
    border-radius: 8px;
    padding: 4px;
}
.contform input[type="submit"]:hover{
    background-color: var(--cor-t);
    opacity: 1;
    box-shadow: 0 0 10px var(--cor-det);
    transition: 0.3s;
}
@media (max-width: 850px){
    .section-contato{
        width: 100%;
        height: 80vh;
    }
}
.section-icons{
    margin-top: 2rem;
}
.icons{
    display: flex;
    justify-content: space-between;
}
/* CADASTRO RAPIDO ------------------- */
.cadastro{
    margin-top: 2rem;
    margin-bottom: 3rem;
}
.div-cpf{
    padding: 0.5rem;
    border-radius: 10px;
    box-shadow:  0 0 18px rgba(0, 0, 0, 0.2);
    background-color: var(--cor-s);
}
.div-cpf .input{
    margin-top: 2rem;
    width: 80%;
}
.div-cpf input[type=submit]{
    border: none;
    padding: 10px;
    border-radius: 10px;
}

